* {
    margin: 0;
}
.header {
    background-color: rgb(128, 72, 156);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
}
.nav {
    background-color: rgb(207, 77, 206);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
}
.main {
    background-color: rgb(237, 80, 241);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 460px;
}
.footer {
    background-color: rgb(242, 115, 230);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
}